repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key
      - id: end-of-file-fixer

  - repo: local
    hooks:
      - id: forbid-python-cache
        name: Block Python cache files
        entry: bash -c 'git diff --cached --name-only | grep -E "\.pyc$|__pycache__" && exit 1 || exit 0'
        language: system
